body {
    background: url(../img/bg.jpg) repeat center fixed;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    overflow: hidden;
	font-family: Helvetica, sans-serif;
	font-size: 30px;
}

#block_calendar {
	color: white;
	padding-top: 5%;
}
table {
	margin: 0 auto;
}
table#full_calendar th, table#full_calendar td {
	text-align: center;
	padding: 4px;
}
.dayNumber:hover {
	background-color: #35DE55;
	cursor: pointer;
}
.today {
	background-color: #FFA59E;
}
.holiday {
	color: #F51605;
}
i:hover {
	cursor: pointer;
	color: #35DE55;
}
/*menu*/
.slide {
	background: white;
	position: fixed;
	width: 55%;
	height: 100%;
	top: 0;
	//bottom: 0;
	right: -55%;
	overflow: auto;
    //visibility: hidden;
    z-index: 100;
    -webkit-overflow-scrolling: touch;
	font-size: 20px;
	border-radius: 4px;
	padding: 5px 5px;
}

.slide-open-right {
	right: 0;	
}
.slide #closeMenu:hover {
	cursor: pointer;
	color: #263a52;
}
#Date {
	font-size: 18px;
	font-weight: bold;
	text-transform: capitalize;
}

div#menu {
	font-family: Verdana;
	font-size: 15px;
	overflow: scroll;
	overflow-x: hidden;
}
.activeCell {
	background-color: #35DE55;
}
.row {
	margin-bottom: 15px;
}
.timeWakeUpClass {
	/* border: solid 1px;
	border-radius: 15px;
	padding: 5px; */
	font-family: Verdana;
	font-size: 20px;
}
.textHead {
	font-size: 16px;
	font-family: Verdana;
	font-weight: bold;
}

a {
	cursor: pointer;
}

.glyphicon-plus-sign {
	color: #44E71D;
}
.glyphicon-minus-sign {
	color: #F5383D;
}
.glyphicon-plus-sign, .glyphicon-minus-sign {
	opacity: 0.2;
}
.glyphicon-plus-sign:hover, .glyphicon-minus-sign:hover {
	opacity: 1;
}

@media screen and (max-width: 480px) {
	.slide {
		width: 100%;
		right: -100%;
	}
	.slide-open-right {
		right: 0;
	}
}

